@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:letter"]{
	margin: 1em 0;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
}
